* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 8vh;
  width: 100%;
  background-color: #56002b;
  position: fixed;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: #fff;
  width: 70%;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 92vh;
}

.about {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding: 5%;
  margin: 0 auto;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  text-align: left;
}

.photo {
  width: 15rem;
  border-radius: 50%;
}
